/* You can add global styles to this file, and also import other style files */
body {
    background-color: gray;
}

.border-navbar {
    border: 1px solid wheat;
    width: 100px;
    height: 100px;
}